.container-fluid-dashbaord{
  height: 100%;
  width: 100%;
}


.sidebar-dashboard {
  position: fixed;
  top: 55px;
  left: 2px;
  height: 100vh;
  width: 20%;
  /* max-width: 300px; */
  background-color: grey;
}

.main-content {
  /* margin-left: 300px; Adjust this value to match the sidebar width */
  margin-left: 20%;
  padding: 40px;
  background-color: aqua;
  height: 90vh;
  /* Add any other styles for the main content */
}

.row-2-dashboard{
  display: flex;
  background-color: blueviolet;
  height: 70%;
  width: 103%;
  margin-bottom: 5vh;
}

.badge-holder-dashboard{
  flex:4;
  /* background-color: black; */
  
}

/* .qs-emotion-dashboard{
 flex:7;
 background-color: pink;
} */


.row-3-dashboard{
  display: flex;
  margin-top: 6vh;
  margin-bottom: 4vh;
  background-color: blueviolet;
  height: 50%;
  width: 103%;
}

.acc-graph-dashboard{
  flex:8;
  background-color: black;
  
}

.acc-stats-dashboard{
 flex:3;
 background-color: pink;
}


.badge{
  height: 100%;
  width: 100%;
  border-color: black;
  border-width: 500px;
}

.arrow {
  font-size: 2rem; /* Increase or decrease the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 2rem;
  height: 0rem;
}

.left-arrow {
  left: 0rem;
}

.right-arrow {
  right: -18rem;
  /* margin-bottom: 200vh; */
  transform: translateY(-50%);
}

.qs-emotion-dashboard {
  /* Your styles for the main container */

  flex:7;
  background-color: pink;
}

.qs-emotion-dashboard-row1{

display: flex;
margin-top: 1vh;
height: 10%;
}


.qs-emotion-dashboard-heading {
  /* Your styles for the heading */
font-size: medium;
font-family: cursive;
flex:5;
height: 20%;
}

.exercise-dropdown {
  /* Your styles for the exercise dropdown container */
  /* width: 30%;
  height: 2%; */
  flex: 5;
  /* height: 5%; */
}


#exercise-select {
  /* Your styles for the exercise select element */
  width: 40%;
  height: 130%;
  font-family: cursive;
  font-size: 12px;
}

.qs-emotion-dashbaord-inner {
  /* Your styles for the inner container */
  margin-top: 4vh;
  height: 80%;
  width: 100%;
  /* margin-bottom: 5vh; */
}
