#login_form {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.all_middle {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #2B3035;
    border-radius: 50%;
    content: "";
    height: 40px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    width: 40px;
    will-change: transform;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

#login_card {
    background-color: #ffffff;
}

/* #profileBtn:hover {
    background-color: #111111;
}

#signOutBtn:hover {
    background-color: #111111;
} */