.container-fluid{
  font-family: cursive;
}


.row {
  display: flex;
  height: 100%;
  margin-bottom: 5vh;
}


.profile-box {
  /* border: 2px solid black; */
  padding: 20px;
  margin-top: 30px;
  margin-right: 10px; /* Adjust margin-right instead of margin-left */
  border-radius: 50px;
  width: 75%; /* Adjust width to occupy 75% */
  height: 50vh;
  position: relative;
  box-sizing: border-box;
  flex: 5;
  margin-left: 20px; /* Add a left margin to create a gap */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add box-shadow effect */
}

.normal-box {
  /* border: 2px solid black; */
  padding: 20px;
  margin-top: 30px;
  margin-left: auto; /* Push the normal-box to the right */
  border-radius: 50px;
  width: 25%; /* Adjust width to occupy 25% */
  height: 50vh;
  flex:5;
  margin-left: 20px; /* Add a left margin to create a gap */
  margin-right: 10px; /* Add a left margin to create a gap */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add box-shadow effect */
  margin-bottom: 20px;
}
  
  .profile-header {
    
    display: flex;
    align-items: center;
    margin: 50px;
  }
  
  .profile-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .welcome-text {
    font-weight: bold;
    font-size: larger;
  }
  
  .top-text{
    margin-top: 5vh;
    font-weight: bold;
    
  }
  .username {
    margin-top: 10px;
  }
  
  .profile-image {
    position: absolute; /* Position the image absolutely */
    bottom: -10px; /* Adjust the distance from the bottom as desired */
    left: -15px; /* Adjust the distance from the left as desired */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-left: 10px;
    margin-bottom: 5px;
    margin-bottom: 10px; */
  }
  
  
  /* .profile-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
} */


.profile-footer {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as desired */
    left: 20px; /* Adjust the distance from the left as desired */
    display: flex;
    justify-content: space-around;
    width: calc(100% - 40px); /* Take into account left and right padding */
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adjust the gap between buttons as desired */
    margin-left: auto;
  }

  .custom-row{

    display: flex;
    height: 100%;
    margin-bottom: 5vh;
    justify-content: center;
  
    }


    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .profile-button {
    /* width: 150px; Adjust the width as desired */
    /* padding: 10px; */
    /* background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    flex:3;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-family: cursive;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; */
    
    font-size: 23px;
    font-family: cursive;
    width: 400px;
    /* font-size: 16px; */
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 80px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    
  }


.profile-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.profile-button:focus {
    outline: none;
}


/* .btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
} */



  .profile-button:hover {
    background-color: #3367d6;
  }
  
  .profile-button:last-child {
    margin-right: 0;
  }

  .custom-row-1{

    display: flex;
    height: 100%;
    margin-bottom: 5vh;
    margin-bottom: 10px;
  
    }

  .chart-box-normal{
    flex:5;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }  

  .chart-box-practice-qs{
    flex:5;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  










/* the below css is for the charts */
/* .col-md-9.offset-md-3 {
    
    width: 100%;
    max-width: 600px; 
    margin-top: 50px;
  }
  
  .col-md-9.offset-md-3 canvas {
    
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  } */


  .custom-row-2{

    display: flex;
    height: 100%;
    margin-bottom: 5vh;
    margin-bottom: 10px;

  }

  .chart-per-emotion{

    flex:5;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  
