.containerProfile{
    display: flex
}
.left-div{
    flex: 1
}
.right-div{
    flex:1;
    /* margin-top: 120px; */
}

.container-fluid, .row {
    height: 100%;
    width: 100%;
}

#imageProfile {
    background-image: url("https://imgur.com/APLM3DR.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#profileDesc{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}